*{
    margin: 0px;
    padding:0px;
}

.mb-45{
    margin-bottom:1.2rem;
}

hr{ 
    position: relative;
    color:teal;
    width:90%;
    left:5%;
}

body{
    background-image:url('/images/form_background.jpg');
    background-attachment: fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
}

#main-container{
    margin: auto;
    margin-top:5rem;
    padding-bottom:10px;
    height:auto;
    width:90vh;
    background-color: white;
    border-radius:10px;
}
#main-container h1{
    padding-top:10px;
    font-size:2.5rem;
    text-align: center;
}

/*user form*/

.form-container{
    margin-left:20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.form-container form{
    margin-left:20px;
    margin-bottom:20px;
}
form span{
    color:teal;
}

input{
    border:none;
    border-bottom:1.5px solid palevioletred;
}

#Description{
    font-size:2rem;
    margin-bottom:20px;
}

#Description input{
    margin-left:10px;
    width:40vh;
}
#data{
    display: flex;
}

#Category{

    font-size:2rem;
    margin-bottom:20px;
    border-right:1.5px solid palevioletred;
    padding-right:10px;
}

#Category select{
    display: inline-block;
    margin-left:5px;
    width:20vh;
    border:none;
    border-bottom:1.5px solid palevioletred;
}

#Due-date{
    font-size:2rem;
    margin-left:10px;
}

#Due-date input{
    margin-left:10px;
}

#button{
    display: flex;
    justify-content:center;
    align-items: center;
}
form button[type="submit"]{
  height:50px;
  width:150px;
  margin-top:10px;
  border-radius:20px;
  font-size:1.2rem;
  color: white;
  background-image:linear-gradient(rgb(29, 29, 29),rgb(27, 27, 82));
}

/* user form ends */

/* display data starts */
ul{
    list-style: none;
}

li{ margin-left:10px;
    width:80vh;
    margin-bottom:10px;
    background-color: seashell;
  
    border-radius:10px;
}

li:hover{
    background-color:transparent;
    /*border:2px dashed salmon;*/
}

.data-entry{
    height:30px;
    width:550px;
    margin-left:20px;
    padding-top:10px;
    color:gray;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.data-entry p{
    font-size:1.5rem;
}

#type{
    background-color: rgb(0, 255, 242);
    height:30px;
    width:auto;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right: 10px;
    border-radius:5px;
    color: rgb(29, 29, 29);
}

.data-entry i{
    font-size:20px;
    color:black;
    transition: 1s ease-in-out;
}
.data-entry i:hover{
    color: red;
    transform: rotate(360deg);
}

.calender{
    display:block;
    margin-left:20px;
    padding-top:5px;
}

.calender i{
    display: inline-block;
    line-height:30px;
    font-size:20px;
    margin-bottom:10px;
    color: crimson;
}
.calender p{
    display: inline-block;
    margin-left:5px;
    font-size:1rem;
    font-weight:500;
    color: lightslategray;

}

/*display data ends */

